<div class="page disponivel-breve-container" >
  <div class="page overlay" >
    <h1 class="title" style="font: normal normal 900 38px/26px GloberBlack ;"><b>{{ titulo }}</b></h1>
    <br>
    <h1 class="display-2 mb-0 fw-semibold" style="font:normal normal 900 54px/26px GloberBlack;"><b>DISPONÍVEL EM BREVE</b></h1>
    <br>
    <br>
    <div class="time-container">
        <div class="date"><div class="number" id="days">?</div><div class="text">Dias</div></div>
        <div class="date"><div class="number" id="hours" >?</div><div class="text" >Horas</div></div>
        <div class="date"><div class="number" id="minutes">?</div><div class="text" >Minutos</div></div>
        <div class="date"><div class="number" id="seconds">?</div><div class="text">Segundos</div></div>
    </div>
    <p class="description">Pedimos desculpa pela incoveniência, qualquer dúvida entre em contato com TI</p>
    <p class="contato"> <b>Contato:</b> suporte@ffcservicos.com.br</p>
  </div>
</div>
