{% load static %}

    {% block styles %}

    {% endblock %}
    
        					{% block content %}
        
							{% endblock %}

					{% block modal %}
					
				<!-- Full screen modal content -->
			<!-- <div class="modal fade exampleModal" tabindex="-1"
			aria-labelledby="exampleModal" aria-hidden="true">
			  <div class="modal-dialog ">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="Label">Detalhes</h5>
					<div class="form-group">
						<label class="form-label text-muted">TESTE</label>
						<div class="input-group">
						</div>
					</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							  aria-label="Close"></button>
								</div>
  
					</div> -->
			</div><!-- /.modal-content -->
			<div class="modal fade exampleModal" id="#" tabindex="-1"
			aria-labelledby="exampleModal" aria-hidden="true">
				<div class="p-4 bg-light border-bottom">
					<div class="modal d-block pos-static">
						<div class="modal-dialog" role="document">
							<div class="modal-content modal-content-demo">
								<div class="modal-body">
									<div class="form-group">
										<label class="form-label text-muted">To:</label>
										<div class="input-group">
												<input type="text" class="form-control" placeholder="Enter Mail" value="TESTE">
												<input type="text" class="form-control" placeholder="Enter Mail" value="TESTE1">
										</div>
										<br>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Enter Mail" value="TESTE">
											<input type="text" class="form-control" placeholder="Enter Mail" value="TESTE1">
									</div>
									</div>
									<div class="form-group">
										<label class="form-label text-muted">Message:</label>
										<textarea cols="30" rows="5" class="form-control"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary">Send</button>
									<button class="btn btn-light" >Close</button>
								</div>
							</div>
						</div>
					</div>

					

        			{% endblock %}

    {% block scripts %}

	

    {% endblock %}
